.active {
  background: #8d448b !important;
  border: 1px solid #8d448b !important;
  color: #fff !important;
  border-radius: 20px;
}

.nav-link{
  color:#505050;
}

.btn-outline-danger, .btn-outline-primary{
  border: 1px solid #8d448b !important;
  border-radius: 20px;
}

.btn-outline-danger:hover,
.btn-outline-primary:hover {
  background: #8d448b !important;
  border: 1px solid #8d448b !important;
  color: #fff !important;
  border-radius: 20px;
}

.footer{
  position:relative;
  top:300px;
}






