@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body,
html {
  font-family: "Poppins", sans-serif;
}

input,
textarea {
  outline: none;
  border: none;
}

.container-contact100 {
  margin-bottom: 50px;
  align-items: center;
}

.wrap-contact100 {
  width: 100%;
  background: #fff;
  border-radius: 14px;
  border: 1px solid grey;
  overflow: hidden;
  padding: 25px 40px 40px 40px;
}
.contact100-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact100-form-title {
  display: block;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  /* font-weight: bold; */
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.bg1 {
  background-color: #f7f7f7;
}

/* form input select */
.wrap-input100-select {
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 13px;

  padding: 0px 20px 3px 0px;
  margin-bottom: 20px;
}

/* select option */
.js-select2 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 13px;
  padding: 10px 30px 9px 22px;
  margin-bottom: 20px;
}

/* chia 2 input */
.rs1-wrap-input100 {
  width: calc((100% - 30px) / 2);
}

.label-input100 {
  font-family: "Poppins", sans-serif;
  /* font-size: 10px; */
  color: #393939;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 12px;
}

.input100,
.js-select2 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding-right: 15px;
}

input.input100 {
  height: 40px;
}

/* textarea form CA */
textarea.input100 {
  min-height: 120px;
  padding-top: 9px;
  padding-bottom: 13px;
}

/* Button */

.container-contact100-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}

.contact100-form-btn,
.contact100-back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  background-color: #333333;
  border-radius: 25px;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn i,
.contact100-back-btn i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover,
.contact100-back-btn:hover {
  background-color: #00ad5f;
}

.contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/* button back */
.contact100-back-btn:hover i {
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px);
}

.label-worksheet {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #393939;
  text-transform: uppercase;
}

.label-why {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #393939;
  text-transform: uppercase;
}
